
/node_modules
/vendor
/.env
/.phpunit.cache
/.phpunit.result.cache
/laravel-dev.*.log
/public/hot
/public/storage
/storage/*.key
/storage/framework.zip
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/views
/storage/framework/views/*
!/storage/framework/views/.gitkeep
!/storage/framework/sessions
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
!/storage/framework/cache
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
!/storage/framework/cache/data
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
!/storage/framework/testing
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/logs/*
!/storage/logs/.gitignore
!/storage/logs/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
!/bootstrap/cache/.gitkeep
