Options -Indexes
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase __BASE_PATH__
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . __INDEX_TARGET__ [L]
</IfModule>
