<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Base para WAMP
  RewriteBase /lovawamp/

  # Si el archivo existe físicamente, sírvelo
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l

  # Si no existe, redirige todo al index.html
  RewriteRule . /lovawamp/index.html [L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/manifest+json .webmanifest
</IfModule>

<IfModule mod_headers.c>
  <Files "manifest.webmanifest">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </Files>
  <Files "service-worker.js">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </Files>
</IfModule>